<!-- header -->
<%- include('partials/_header') %>

<!-- navigation -->
<%- include('partials/_navigation') %>

<!-- furnitures section start -->
<div class="blog_section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="blog_taital">Furnitures</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="blog_section_2 my-4">
      <%- include('partials/_alerts') %>
      <div class="row">
        <% furnitures.forEach(furniture => { %>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog_box">
            <div class="blog_img"><img src="/images/blog-img1.png"></div>
            <h2 class="text-center"><%= furniture.name %></h2>
            <p class="chair_text"><%= furniture.category.name %></p>
            <div class="readmore_bt pt-4"><a href="furnitures/<%= furniture.slug %>">See More</a></div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

  </div>
</div>

<!-- furnitures section end -->

<!--  footer -->
<%- include('partials/_footer') %>